/*

To change this license header, choose License Headers in Project Properties.

To change this template file, choose Tools | Templates

and open the template in the editor.

*/

/* 

    Created on : 29/05/2015, 00:02:17

    Author     : Oren

*/





.numbers {

  display: table;

}

span.special.number{

  color: #000;

  background-image: url(star.png);

  background-position: center 44%;

 } 

  

  span.number {

  color: #fff;

  text-align: center;

  padding: 10px;

  min-width: 30px;

  background-image: url(circle.png);

  background-repeat: no-repeat;

  background-position: center;

  font-weight: bold;

  display: table-cell;

  vertical-align: middle;

  font-size: 20px;

}



.code {

  font-size: 12px;
  margin-top:15px;

}

